       *{
        font-family: -apple-system, BlinkMacSystemFont, sans-serif;
       }
       .sidebar{
            display: flex;
            flex-direction: column;
            flex: 0.20;
            height: 100vh;
            background-color: #23272A;
            position:fixed;
            bottom:0;
            left:0;
            z-index:1;
        }
        
        .sidebar_top{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 24px;
            background-color: #2f3135;
            color: white;
            border-bottom: 3px solid #26282c;
        }

        .sidebar_channels{
            flex: 1;
            font-size: small;

        }

        .sidebar_addChannel{
            cursor: pointer;

        }

        .sidebar_addChannel:hover{
            color: white;
        }

        .sidebar_channelsHeader{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            background-color: #23272A;
            color: gray;
        }

        .sidebar_header{
            display: flex;
            align-items: center;
        }

        .sidebar_voice, .sidebar_profile{
            display: flex;
            justify-content: space-between;
            font-size: small;
            align-items: center;
            color: gray;
            background-color:#2f3135;
            padding: 5px;
            border-top: 1px solid gray;
        }
        
        .sidebar_voiceInfo{
            flex: 1;
            padding: 10px;
        }

        .sidebar_voiceIcon{
            color: #4fb185;
        }
        
        .sidebar_voiceInfo > h4{
            color: #4fb185;
        }

        .sidebar_voiceInfo > p{
            font-size: smaller;
        }

        .sidebar_voiceIcons > .MuiSvgIcon-root{
            padding: 5px;
            cursor: pointer;
        }

        .sidebar_profileInfo{
            flex: 1;
            padding: 10px;
        }
        .sidebar_profileInfo > h3{
            color: white;
        }

        .sidebar_profileIcons > .MuiSvgIcon-root{
            padding: 3px;
            cursor: pointer;
        }

        .expand:hover{
            cursor: pointer;
        }

        .logout:hover{
            cursor: pointer;
        }