.sidebarChannel:hover > h4 {
    color: white;
    background-color: #40464b;
}

.sidebarChannel > h4{
    display: flex;
    padding-left: 15px;
    align-items: center;
    background-color:#23272A;
    color: gray;
    cursor: pointer;
}

.sidebarChannel_hash{
    font-size: 20px;
    padding: 5px;
}